IMDB/data/
IMDB/model/
*.pkl
*.png

MyjointBert /.vscode/
MyjointBert/__pycache__/
MyjointBert/bert-base-uncased/
MyjointBert/data/atis/
MyjointBert/data/snips/
MyjointBert/fuss/
venv/
data/
papers/
.vscode/
__pycache__/
NLG/

MDS/bart-base/
MDS/__pycache__/